html,
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.border {
	border: 1rem solid #007f6e;
}

.navbar-item-logo {
  width: 300px;
  padding-left: 30px;
	padding-top: 4px;
}

.logo {
  text-align: center;
  padding-top: 65px;

}

.icon {
	font-size: 32px;
	color: #ffffff;
	margin-right: 12px;
	margin-left: 12px;


}

.icon:hover {
    font-size: 38px;
color: #d2ebff;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	font-family: 'Raleway', sans-serif;
}
.Site a {
	color: #007f6e;
	font-weight: 600;
}

.Site-content {
  flex: 1;
}

.main-title {
	font-family: Krona One, sans-serif;
	font-weight: 600px;
	text-transform: uppercase;
}

.is-myface {
  height: 80%;
  width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.is-myface img {
	border-radius: 50%;
}

.ending {
	border: 1px solid black;
}




.title.is-5 {
	line-height: 1.5 !important;
	font-weight: 400;

}

.title.larger {
	font-size: 3.7rem;
	color: #232953;
	text-transform: none;

}



.hero.is-primary.is-bold {
 background-image: linear-gradient(141deg, #007e6e 0%, #00727e 71%, #164c73 100%) !important;

}

#growing {
  transition: font-size 3s, color 2s;
}


#icon_color {

	transition-property: font-size;
    transition-duration: .2s;
}

.button {
	font-weight: 600;
	border: 2px;

}


.diary-wrapper {
	display: flex;
	flex-flow: vertical;
}

.tiny-logo {
		height: 60px;
		width: auto;
}

.diary-header {
	/* padding: 5px; */
	height: 65px;
	display: flex;
	color: #5c5b5b;
	z-index: 10;
	box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.34);
	position: -webkit-sticky;
  position: sticky;
  top: 0;

}

.diary-header_left {
	/* background-color: #007f6e; */
	background-color: rgba(255,255,255,.9);
	width: 50%;
	display: flex;
	flex-direction: row;
	padding: 0 20px;
	align-items: center;
	}

.diary-header_left	p {
		margin-left: 15px;
		line-height: 1.25;

}
.diary-header_right {
	background-color: #232953;
	width: 50%;
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	align-items: center;
}

/* photo blocks */




.photo-row {
	/* padding: 5px; */
	height: 60vh;
	display: flex;
	color: #5c5b5b;
	/* box-shadow: 0px 1px 11px 0px rgba(0,0,0,.15); */
}

.photo-row_reverse {

}

 @media all and (max-width: 700px) {
	 .photo-row {
		height: auto;
	 	display: flex;
		flex-direction: column;
	 	color: #5c5b5b;
	 }
	 .photo-row_reverse {
		 flex-direction: column-reverse;
	 }
 }

.photo-row_photo {
	background-color: #red;
	width: 50%;
	display: flex;
	flex-direction: row;
	/* padding: 0 20px; */
	/* align-items: center; */
	}
@media all and (max-width: 700px) {
	.photo-row_photo {
		width: 100%;
		height: 450px;
		}
}

.photo-row_description {
	background-color: white;
	width: 50%;
	display: flex;
	flex-direction: row;
	padding:45px;
	align-items: center;
}

@media all and (max-width: 700px) {
	.photo-row_description {
		width: 100%;
		height: 300px;
		}
}

.photo-row_description	p {
		margin-left: 15px;
		line-height: 1.25;

}

#post1 {
		background-image:url("../assets/photo/post1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#post2 {
		background-image:url("../assets/photo/post2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#post3 {
		background-image:url("../assets/photo/post3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
