// .wrapper {
//   max-width: 800px;
//   margin: 0 auto;
//   padding: 2rem;
// }

body {
    background-color: var(--color-primary);
    color: #ffffff;
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

p {
    text-align: left;
}